* {
    margin: 0;
    padding: 0;
}


/* We are going to code for 750px*/


/* We are going to code for 800px Height*/

@media only screen and (max-height: 800px) {
    #for_new_form {
        background-color: aqua;
        height: 100vh;
    }
    .log_in_form {
        height: -webkit-fill-available;
        padding-block-start: 100px;
    }
    /*This is for login Form*/
    #login_form {
        display: grid;
        margin: 20px;
        background-color: white;
        padding-inline-start: 35px;
        padding-inline-end: 35px;
        padding-block-start: 35px;
        padding-block-end: 35px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        border: dashed;
        margin-inline-start: 150px;
        margin-inline-end: 150px;
    }
    #flex_remember_me {
        display: inline-flex;
    }
}


/* We are going to code for 800px*/

@media only screen and (max-width: 800px) {
    .flex_dont_have_account {
        text-align: center;
        padding: 10px;
    }
    #for_new_form {
        background-color: aqua;
        height: 125vh;
    }
    .log_in_form {
        height: -webkit-fill-available;
        padding-block-start: 70px
    }
    /*This is for login Form*/
    #login_form {
        display: grid;
        margin: 20px;
        background-color: white;
        padding-inline-start: 35px;
        padding-inline-end: 35px;
        padding-block-start: 35px;
        padding-block-end: 35px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        border: dashed;
    }
    #flex_remember_me {
        display: inline-flex;
    }
    #for_new_form>div>form>label:nth-child(1) {
        padding: 10px 0 10px 0;
        font-size: 25px;
        font-family: system-ui;
    }
    #for_new_form>div>form>label:nth-child(4) {
        padding: 10px 0 10px 0;
        font-size: 25px;
        font-family: system-ui;
    }
    #for_new_form>div>form>label:nth-child(7) {
        padding: 10px 0 10px 0;
        font-size: 25px;
        font-family: system-ui;
    }
    #login_e-mail,
    #login_username,
    #login_password {
        height: 50px;
        text-align: center;
        font-family: system-ui;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    #login_btn {
        height: 50px;
        justify-content: center;
        font-family: system-ui;
    }
}

@media only screen and (max-width: 450px) {}


/* We are going to code for 800px Height*/

@media only screen and (max-height: 450px) {
    #for_new_form {
        height: 210vh !important;
    }
    #login_form {
        margin-inline-start: 150px;
        margin-inline-end: 150px;
    }
}